svg .game {

}
/*
Russian blue pattern:
#7be3f6
#4499a9
#276a76
#133b43
#03090a
*/
svg .game g {
  fill: #4499a9;
  fill-opacity: 0.6;
}
svg .game g:hover {
  fill: #7be3f6;
  fill-opacity: 0.7;
}
svg .game g:hover text {
  fill-opacity: 1;
}

svg .game g polygon {
  stroke: #7be3f6;
  stroke-width: 0.2;
  transition: fill-opacity .5s;
}
svg .game g text {
  font-size: 0.22em;
  fill: white;
  fill-opacity: 0.7;
  transition: fill-opacity .5s;
}
svg .game path {
  fill: none;
  stroke: #7be3f6;
  stroke-width: 0.2em;
  stroke-opacity: 0.7;
  stroke-linecap: round;
  stroke-linejoin: round;
}

svg .game g.blocked {
    fill: #465880;
}
svg .game g.blocked:hover {
    fill: #53699a;
}
