.tiles svg {

}
.tiles svg g {
  fill: LightSteelBlue;
  fill-opacity: 0.6;
}
.tiles svg g:hover {
  fill-opacity: 1;
}
.tiles svg g:hover text {
  fill-opacity: 1;
}

.tiles svg g polygon {
  stroke: Indigo;
  stroke-width: 0.2;
  transition: fill-opacity .2s;
}
.tiles svg g text {
  font-size: 0.3em;
  fill: black;
  fill-opacity: 0.4;
  transition: fill-opacity .2s;
}
.tiles svg path {
  fill: none;
  stroke: hsl(60, 20%, 70%);
  stroke-width: 0.4em;
  stroke-opacity: 0.3;
  stroke-linecap: round;
  stroke-linejoin: round;
}
