body {
  margin: 0;
  padding: 1em;
  font-family: sans-serif;
  text-align: center;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-user-drag: element;
  -webkit-user-drag: element;
  -khtml-user-drag: element;
  user-drag: element;
}

body {
  background: #e4e7ec;
  color: #263959;
}
svg {
}
svg g {
  fill: #6d819c;
}
svg g polygon {
  stroke: #263959;
  stroke-width: 0.2;
}
