.grid {
  border: 1px solid grey;
}
.group {

}
.group:hover .polygon {
  fill-opacity: 1;
}
.group:hover .text {
  fill-opacity: 1;
}
.polygon {
  fill: #377499;
  fill-opacity: 0.6;
  stroke: #2EACA6;
  stroke-width: 0.2;
  transition: fill-opacity .2s;
}
.text {
  font-size: 0.3em;
  fill: #FFFFFF;
  fill-opacity: 0.4;
  transition: fill-opacity .2s;
}
