.basic-example svg g {
  fill: #3f51b5;
  fill-opacity: 0.6;
}
.basic-example svg g:hover {
  fill-opacity: 1;
}
.basic-example svg g:hover text {
  fill-opacity: 1;
}

.basic-example svg g polygon {
  stroke: #3f51b5;
  stroke-width: 0.2;
  transition: fill-opacity 0.2s;
}
.basic-example svg g text {
  font-size: 0.3em;
  fill: #ffffff;
  fill-opacity: 0.4;
  transition: fill-opacity 0.2s;
}
.basic-example svg path {
  fill: none;
  stroke: hsl(60, 20%, 70%);
  stroke-width: 0.4em;
  stroke-opacity: 0.3;
  stroke-linecap: round;
  stroke-linejoin: round;
}
